{
	"presets": [
		"@babel/preset-env", // Allow us to use the latest JavaScript features but still target browsers that don’t support them.
		"@babel/preset-react", // Enable Babel to transform React code into JavaScript.
		"@babel/preset-typescript" // Enables Babel to transform TypeScript code into JavaScript.
	],
	"plugins": [
		"react-hot-loader/babel", // Reload on code changes
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"@": "./src",
					"@main": "./src/main",
					"@renderer": "./src/renderer",
					"@assets": "./src/assets",
					"@utils": "./src/utils",
					"@app": "./src/renderer/app",
					"@components": "./src/renderer/components",
					"@screens": "./src/renderer/screens"
				}
			}
		]
	]
}
